<h2 mat-dialog-title>{{audioDevice.name}}</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="dialog-content">
  <table>
    <tr>
      <td>
        <span class="label">Sample rate</span>
      </td>
      <td>
        <span class="label">Volume</span>
      </td>
    </tr>
    <tr>
      <td>
        <input class="sample-rate-input" type="number" [(ngModel)]="audioDevice.sampleRate">
        <span class="label">&nbsp;Hz</span>
      </td>
      <td>
        <input class="volume-input" type="number" [(ngModel)]="audioDevice.volume" step="0.01">
      </td>
    </tr>
  </table>
  &nbsp;
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Cancel</button>
  <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>