<mat-card>
  <mat-card-header class="channel-card-header channel-header-tx">
    <button mat-button class="button-card" matTooltip="Refresh" (click)="getChannelSettings()">
      <img src="./assets/icons/if_refresh.svg" style="height:16px; width:16px"/>
    </button>&nbsp;
    <app-channel-header class="channel-header-comp" channelType="RemoteSink"
        [basebandRate]="deviceBasebandRate"
        [title]="settings.title"
        [color]="rgbTitleStr"
        (titleChanged)="onTitleChanged($event)"
        (colorChanged)="onTitleColorChanged($event)" >
    </app-channel-header>
  </mat-card-header>
  <mat-card-content>
    <table>
      <!-- Freq, delta, bandwidth -->
      <tr>
        <td>
          <span matTooltip="Center absolute frequency">fc {{getCenterFrequency()}} kHz</span>
        </td>
        <td style="width:15ch">
          <span matTooltip="Center frequency shift">&#x394;f {{getDeltaFrequency()}} kHz</span>
        </td>
        <td>
            <span matTooltip="Bandwidth (kHz)">BW {{getBandwidth()}} kHz</span>
        </td>
      </tr>
      <!-- address, port -->
      <tr>
        <td>
          Addr
          <input type="text" class="address-input"
            [(ngModel)]="settings.dataAddress"
            (change)="setDataAddress()"
            matTooltip="Local data listener address">
        </td>
        <td>
          Port
          <input type="number" class="port-input"
            [(ngModel)]="settings.dataPort"
            (change)="setDataPort()"
            matTooltip="Local data listener port"
            min=1024 max=65535>
        </td>
        <td></td>
      </tr>
      <!-- nb FEC, nb Tx bytes -->
      <tr>
        <td>
          FEC
          <input type="number" class="port-input"
            [(ngModel)]="settings.nbFECBlocks"
            (change)="setNbFECBlocks()"
            matTooltip="Number of FEC blocks per frame"
            min=0 max=32>
        </td>
        <td>
          Tx Bytes
          <mat-select style="width:6ch; background-color: white; margin: 1px;"
              [(value)]="settings.nbTxBytes"
              (selectionChange)="setNbTxBytes()"
              matTooltip="Number of I or Q bytes in transmission">
            <mat-option *ngFor="let nbTxBytes of nbTxBytesList" [value]="nbTxBytes.value">
              {{nbTxBytes.viewValue}}
            </mat-option>
          </mat-select>
        </td>
        <td></td>
      </tr>
      <!--- Decim, Position, Filter chien (ouah ouah!) display -->
      <tr>
        <td>
          Decim
          <mat-select style="width:6ch; background-color: white; margin: 1px;"
              [(value)]="settings.log2Decim"
              (selectionChange)="setLog2Decim()"
              matTooltip="Decimation factor">
            <mat-option *ngFor="let log2Decim of log2Decims" [value]="log2Decim.value">
              {{log2Decim.viewValue}}
            </mat-option>
          </mat-select>
        </td>
        <td>
          Pos
          <input type="number" class="index-input"
            [(ngModel)]="settings.filterChainHash"
            (change)="setFilterChainHash()"
            matTooltip="Filter chain center position code"
            min=0 max="maxFilterChainHash"
          >
        </td>
        <td>
          <span matTooltip="Half-band filter chain code">HBF {{getFilterChainCode()}}</span>
        </td>
      </tr>
      <!--- Use reverse API, reverse API device index, reverse API channel index -->
      <tr>
        <td>
          <mat-checkbox color="primary" [(ngModel)]="useReverseAPI" (change)="setUseReverseAPI()" matTooltip="Use reverse API">
            Reverse API
          </mat-checkbox>
        </td>
        <td>
          Device
          <input type="number" class="index-input"
            [(ngModel)]="settings.reverseAPIDeviceIndex"
            (change)="setReverseAPIDeviceIndex()"
            matTooltip="Reverse API device index"
            min=0>
        </td>
        <td>
          Channel
          <input type="number" class="index-input"
            [(ngModel)]="settings.reverseAPIChannelIndex"
            (change)="setReverseAPIChannelIndex()"
            matTooltip="Reverse API channel index"
            min=0>
        </td>
      </tr>
      <!--- reverse API address, reverse API port -->
      <tr>
        <td>
          Addr
          <input type="text" class="address-input"
            [(ngModel)]="settings.reverseAPIAddress"
            (change)="setReverseAPIAddress()"
            matTooltip="Reverse API IPv4 address"
          >
        </td>
        <td>
          Port
          <input type="number" class="port-input"
            [(ngModel)]="settings.reverseAPIPort"
            (change)="setReverseAPIPort()"
            matTooltip="Reverse API port"
            min=1024 max=65535>
        </td>
        <td></td>
      </tr>
    </table>
    <!-- empty footer -->
    <table>
      <tr style="height: 3px;">
      </tr>
    </table>
  </mat-card-content>
</mat-card>
<mat-card [ngClass]="{'status-ko-card': statusError, 'status-ok-card': !statusError}">
{{ statusMessage }}
</mat-card>
