<mat-card>
  <mat-card-header class="channel-card-header channel-header-rx">
    <button mat-button class="button-card" matTooltip="Refresh" (click)="getChannelSettings()">
      <img src="./assets/icons/if_refresh.svg" style="height:16px; width:16px"/>
    </button>&nbsp;
    <button mat-button mat-raised-button
        [ngClass]="{'button-card': true, 'button-on': monitor, 'button-off': !monitor}"
        matTooltip="Monitor on/off"
        (click)="toggleMonitor()">
      <img src="./assets/icons/eye-icon.svg" style="height:16px; width:16px; margin-top: 2px;"/>
    </button>&nbsp;
    <app-channel-header class="channel-header-comp" channelType="AMDemod"
        [basebandRate]="deviceBasebandRate"
        [title]="settings.title"
        [color]="rgbTitleStr"
        (titleChanged)="onTitleChanged($event)"
        (colorChanged)="onTitleColorChanged($event)" >
    </app-channel-header>
  </mat-card-header>
  <mat-card-content>
    <table>
      <!-- Row 1: channel monitor (optional) -->
      <tr *ngIf="monitor">
        <td colspan="4">
          <app-channel-monitor [value]=this.amDemodreport.channelPowerDB
            [min]="-120"
            [max]="0"
            [squelch]="this.amDemodreport.squelch !== 0">
          </app-channel-monitor>
        </td>
      </tr>
      <!-- Row 2: Frequency dial -->
      <tr>
        <td colspan="3">
          <app-frequency-dial
          [frequency]="channelCenterFrequencyKhz"
          [min]="channelMinFrequencyKhz"
          [max]="channelMaxFrequencyKhz"
          (frequencyChanged)="onFrequencyUpdate($event)">
          </app-frequency-dial>
        </td>
        <td style="width:15ch">
            &#x394;f {{getDeltaFrequency()}} kHz
        </td>
      </tr>
      <!-- Row 3: Volume, squelch, filters -->
      <tr>
        <td>
          Vol
          <input type="number" class="volume-input"
              [(ngModel)]="settings.volume"
              (change)="setVolume()"
              matTooltip="Audio volume"
              min=0 max=10
              step="0.1">
        </td>
        <td>
            Squelch
            <input type="number" class="squelch-input"
                [(ngModel)]="settings.squelch"
                (change)="setSquelch()"
                matTooltip="Squelch level (dB)"
                min=-100 max=0>
            dB
        </td>
        <td>
            RFBW
            <input type="number" class="rfbw-input"
                [(ngModel)]="rfBandwidthKhz"
                (change)="setRFBandwidth()"
                matTooltip="RF Bandwidth"
                min=1 max=40 step=0.1>
            kHz
        </td>
        <td>
          <mat-checkbox color="primary" [(ngModel)]="bandpassFilter" (change)="setBandpassFilter()" matTooltip="Bandpass filter">
            BP filter
          </mat-checkbox>
        </td>
      </tr>
      <!-- Row 4: SAM options -->
      <tr>
        <td>
          <mat-checkbox color="primary" [(ngModel)]="pll" (change)="setPLL()" matTooltip="PLL for synchronous AM">
            SAM PLL
          </mat-checkbox>
        </td>
        <td>
          SAM Op
          <mat-select style="width:7ch; background-color: white; margin: 1px;"
              [(value)]="settings.syncAMOperation"
              (selectionChange)="setSynchronousAMOperation()"
              matTooltip="Synchronous AM operation">
            <mat-option *ngFor="let syncAMOperation of amSyncchronousOperations" [value]="syncAMOperation.value">
              {{syncAMOperation.viewValue}}
            </mat-option>
          </mat-select>
        </td>
        <td colspan="2">
        </td>
      </tr>
      <!-- Row 5: audio options -->
      <tr>
        <td colspan="3">
          Audio:
          <mat-select style="width:40ch; background-color: white; margin: 1px;"
              [(value)]="settings.audioDeviceName"
              (selectionChange)="setAudioDevice()"
              matTooltip="Audio output device and sample rate (Hz)">
            <mat-option *ngFor="let audioDevice of audioDevices" [value]="audioDevice.value">
              {{audioDevice.value}}
            </mat-option>
          </mat-select>
        </td>
        <td>
          <mat-checkbox color="primary" [(ngModel)]="audioMute" (change)="setAudioMute()" matTooltip="Audio mute">
            Mute
          </mat-checkbox>
        </td>
      </tr>
      <!--- Use reverse API, reverse API device index, reverse API channel index -->
      <tr>
        <td>
          <mat-checkbox color="primary" [(ngModel)]="useReverseAPI" (change)="setUseReverseAPI()" matTooltip="Use reverse API">
            Reverse API
          </mat-checkbox>
        </td>
        <td>
          Device
          <input type="number" class="index-input"
            [(ngModel)]="settings.reverseAPIDeviceIndex"
            (change)="setReverseAPIDeviceIndex()"
            matTooltip="Reverse API device index"
            min=0>
        </td>
        <td>
          Channel
          <input type="number" class="index-input"
            [(ngModel)]="settings.reverseAPIChannelIndex"
            (change)="setReverseAPIChannelIndex()"
            matTooltip="Reverse API channel index"
            min=0>
        </td>
        <td></td>
      </tr>
      <!--- reverse API address, reverse API port -->
      <tr>
        <td>
          Addr
          <input type="text" class="address-input"
            [(ngModel)]="settings.reverseAPIAddress"
            (change)="setReverseAPIAddress()"
            matTooltip="Reverse API IPv4 address"
          >
        </td>
        <td>
          Port
          <input type="number" class="port-input"
            [(ngModel)]="settings.reverseAPIPort"
            (change)="setReverseAPIPort()"
            matTooltip="Reverse API port"
            min=1024 max=65535>
        </td>
        <td></td>
        <td></td>
      </tr>
      <!-- Row 6: empty footer -->
      <tr style="height: 3px;">
      </tr>
    </table>
  </mat-card-content>
</mat-card>
<mat-card [ngClass]="{'status-ko-card': statusError, 'status-ok-card': !statusError}">
  {{ statusMessage }}
</mat-card>