.channel-card-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: solid;
    border-color: gray;
    border-width: 1px;
    margin-bottom: 5px;
    padding: 0.2em 0.2em 0.2em 0.2em;
}

.channel-header-rx {
    background-color: rgb(170,255,200);
}

.channel-header-comp {
    margin-top: 1px;
}

.button-card {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 22px;
    height: 22px;
}

.button-on {
    border: solid;
    border-width: 1px;
    border-color: gray;
    background-color: rgb(0, 255, 0, 1.0);
}

.button-off {
    border: solid;
    border-width: 1px;
    border-color: gray;
    background-color: rgb(0, 0, 0, 0);
}

.volume-input {
    width: 6ch;
}

.squelch-input {
    width: 6ch;
}

.rfbw-input {
    width: 6ch;
}

.delta-frequency {
    width: 20ch;
}

.power-bar {
    height: 10px;
    width: 40ch;
}

td {
    background-color: rgb(230, 230, 210);
}

.status-ok-card {
    border: outset;
    border-color: rgb(134, 255, 110);
    border-width: 2px;
    margin-bottom: 5px;
    padding: 0.2em 0.2em 0.2em 0.2em;
}

.status-ko-card {
    border: solid;
    border-color: rgb(255, 134, 110);
    border-width: 2px;
    padding: 0.2em 0.2em 0.2em 0.2em;
}

::ng-deep .mat-card {
    /* CSS styles go here */
    padding: 0px; /* for example to remove the margin */
}

::ng-deep  .mat-checkbox-inner-container {
    height: 14px!important;
    width: 14px!important;
    background-color: white;
}

::ng-deep  .mat-checkbox-label {
    line-height: 16px!important;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: rgb(33, 124, 30);
}

::ng-deep .mat-progress-bar-buffer {
    background: rgb(205, 205, 205);
}

::ng-deep .mat-progress-bar {
    border-radius: 5px;
}