<mat-card>
  <mat-card-header class="channel-card-header channel-header-rx">
    <button mat-button class="button-card" matTooltip="Refresh" (click)="getChannelSettings()">
      <img src="/assets/icons/if_refresh.svg" style="height:16px; width:16px"/>
    </button>&nbsp;
    <app-channel-header class="channel-header-comp" channelType="AMDemod"
        [basebandRate]="deviceBasebandRate"
        [title]="settings.title"
        [color]="rgbTitleStr"
        (titleChanged)="setTitle()"
        (colorChanged)="setTitleColor()" >
    </app-channel-header>
  </mat-card-header>
  <mat-card-content>
    <table>
      <tr>
        <td>
          <app-frequency-dial
          [frequency]="channelCenterFrequencyKhz"
          [min]="channelMinFrequencyKhz"
          [max]="channelMaxFrequencyKhz"
          (frequencyChanged)="onFrequencyUpdate($event)">
          </app-frequency-dial>
        </td>
      </tr>
      <tr>
        <td>
          Audio:
          <mat-select style="width:40ch; background-color: white; margin: 1px;"
            [(value)]="settings.audioDeviceName"
            (selectionChange)="setAudioDevice()"
            matTooltip="Audio output device and sample rate (Hz)"
          >
            <mat-option *ngFor="let audioDevice of audioDevices" [value]="audioDevice.value">
              {{audioDevice.value}} {{audioDevice.viewValue}}
            </mat-option>
          </mat-select>
        </td>
      </tr>
      <tr style="height: 3px;">
      </tr>
    </table>
  </mat-card-content>
</mat-card>
<mat-card [ngClass]="{'status-ko-card': statusError, 'status-ok-card': !statusError}">
  {{ statusMessage }}
</mat-card>