<mat-card>
  <mat-card-header class="channel-card-header channel-header-rx">
    <button mat-button class="button-card" matTooltip="Refresh">
      <img src="/assets/icons/if_refresh.svg" style="height:16px; width:16px"/>
    </button>&nbsp;
    <span class="channel-label">AMDemod</span>
    <i class="fa fa-square" style="font-size:16px; padding-top: 2px; margin-left: 8px" [ngStyle]="{'color': getRGBTitle()}"></i>
  </mat-card-header>
  <mat-card-content>
    <table>
      <tr>
        <td>
          <app-frequency-dial
          [frequency]="channelCenterFrequencyKhz"
          [min]="channelMinFrequencyKhz"
          [max]="channelMaxFrequencyKhz"
          (frequencyChanged)="onFrequencyUpdate($event)">
          </app-frequency-dial>
        </td>
      </tr>
      <tr style="height: 3px;">
      </tr>
    </table>
  </mat-card-content>
</mat-card>
<mat-card [ngClass]="{'status-ko-card': statusError, 'status-ok-card': !statusError}">
  {{ statusMessage }}
</mat-card>