<mat-card class="deviceset-card">
  <mat-card-header class="device-card-header device-header-tx">
    <button mat-button class="button-card" (click)="getDeviceSettings()" matTooltip="Refresh">
      <img src="./assets/icons/if_refresh.svg" style="height:16px; width:16px"/>
    </button>&nbsp;
    <button mat-button mat-raised-button
        [ngClass]="{'button-card': true, 'button-on': monitor, 'button-off': !monitor}"
        matTooltip="Monitor on/off"
        (click)="toggleMonitor()">
      <img src="./assets/icons/eye-icon.svg" style="height:16px; width:16px; margin-top: 2px;"/>
    </button>&nbsp;
    <span class="device-label">Remote output {{report.sampleRate/1000}} kS/s</span>
  </mat-card-header>
  <mat-card-content>
    <table *ngIf="monitor">
      <tr>
        <td colspan="2">
          <span matTooltip="Report timestamp">{{ getReportDateTime() }}</span>
        </td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">
          <mat-progress-bar mode="determinate" [value]="getQueuePercentage()" class="fill-bar" matTooltip="Queue fill ratio"></mat-progress-bar>
        </td>
        <td>
          <span matTooltip="Queue length/Queue size">{{report.queueLength}}/{{report.queueSize}} ({{((report.queueLength*100)/report.queueSize).toFixed(0)}}%)</span>
        </td>
      </tr>
      <tr>
        <td>
          <i class="fa fa-circle" style="font-size:14px;" [ngStyle]="{'color': getStreamStatusColor()}" [matTooltip]="getStreamStatusText()"></i>
          &nbsp;
          <span matTooltip="Stream pumping rate and status">Pull SR {{ getStreamSampleRate().toFixed(0) }} S/s </span>
        </td>
        <td style="width: 15ch">
          <span matTooltip="Correctable errors (current/total)">Corr {{ deltaCorrectableCount }} / {{ report.correctableErrorsCount }}</span>
        </td>
        <td style="width: 15ch">
          <span matTooltip="Uncorrectable errors (current/total)">Uncorr {{ deltaUncorrectableCount }} / {{ report.uncorrectableErrorsCount }}</span>
        </td>
      </tr>
      <tr>
        <td>
          Freq {{ report.centerFrequency.toLocaleString() }} Hz
        </td>
        <td>
          SR {{ report.sampleRate.toLocaleString() }} S/s
        </td>
        <td></td>
      </tr>
      <!-- Footer -->
      <tr style="height: 3px;">
      </tr>
    </table>
    <table>
      <!--- Remote API address, Remote API port -->
      <tr>
        <td>
          API Addr
          <input type="text" class="address-input"
            [(ngModel)]="settings.apiAddress"
            (change)="setRemoteAPIAddress()"
            matTooltip="Remote API IPv4 address"
          >
        </td>
        <td>
          Port
          <input type="number" class="port-input"
            [(ngModel)]="settings.apiPort"
            (change)="setRemoteAPIPort()"
            matTooltip="Remote API port"
            min=1024 max=65535>
        </td>
      </tr>
      <!--- Local data address, Local data port -->
      <tr>
        <td>
          Data Addr
          <input type="text" class="address-input"
            [(ngModel)]="settings.dataAddress"
            (change)="setLocalDataAddress()"
            matTooltip="Local data IPv4 address"
          >
        </td>
        <td>
          Port
          <input type="number" class="port-input"
            [(ngModel)]="settings.dataPort"
            (change)="setLocalDataPort()"
            matTooltip="Local data port"
            min=1024 max=65535>
        </td>
      </tr>
      <tr>
        <td>
          FEC
          <input type="number" class="port-input"
            [(ngModel)]="settings.nbFECBlocks"
            (change)="setNbFECBlocks()"
            matTooltip="Number of FEC blocks per frame"
            min=0 max=32>
          &nbsp;
          {{ 128+settings.nbFECBlocks }} / {{ settings.nbFECBlocks }}
        </td>
        <td>
          Tx Bytes
          <mat-select style="width:6ch; background-color: white; margin: 1px;"
              [(value)]="settings.nbTxBytes"
              (selectionChange)="setNbTxBytes()"
              matTooltip="Number of I or Q bytes in transmission">
            <mat-option *ngFor="let nbTxBytes of nbTxBytesList" [value]="nbTxBytes.value">
              {{nbTxBytes.viewValue}}
            </mat-option>
          </mat-select>
        </td>
      </tr>
      <!--- Use reverse API, reverse API device index -->
      <tr>
        <td>
          <mat-checkbox color="primary" [(ngModel)]="useReverseAPI" (change)="setUseReverseAPI()" matTooltip="Use reverse API">
            Reverse API
          </mat-checkbox>
        </td>
        <td>
          Device
          <input type="number" class="gain-input"
            [(ngModel)]="settings.reverseAPIDeviceIndex"
            (change)="setReverseAPIDeviceIndex()"
            matTooltip="Reverse API device index"
            min=0>
        </td>
      </tr>
      <!--- reverse API address, reverse API port -->
      <tr>
        <td>
          Addr
          <input type="text" class="address-input"
            [(ngModel)]="settings.reverseAPIAddress"
            (change)="setReverseAPIAddress()"
            matTooltip="Reverse API IPv4 address"
          >
        </td>
        <td>
          Port
          <input type="number" class="port-input"
            [(ngModel)]="settings.reverseAPIPort"
            (change)="setReverseAPIPort()"
            matTooltip="Reverse API port"
            min=1024 max=65535>
        </td>
      </tr>
      <!-- Footer -->
      <tr style="height: 3px;">
      </tr>
    </table>
  </mat-card-content>
</mat-card>
<mat-card [ngClass]="{'status-ko-card': statusError, 'status-ok-card': !statusError}">
  {{ statusMessage }}
</mat-card>
