<mat-card class="deviceset-card">
  <mat-card-header class="device-card-header device-header-rx">
    <button mat-button class="button-card" (click)="getDeviceSettings()" matTooltip="Refresh">
      <img src="/assets/icons/if_refresh.svg" style="height:16px; width:16px"/>
    </button>&nbsp;
    <span class="device-label">Test Source {{getSampleRate()/1000}} kS/s</span>
  </mat-card-header>
  <mat-card-content>
    <table>
      <!-- Frequency, Sample rate, Shift, Amplitude -->
      <tr>
        <td>
            Freq
            <input type="number" class="frequency-input"
              [(ngModel)]="centerFreqKhz"
              (change)="setCenterFrequency()"
              matTooltip="Center frequency">
            kHz
        </td>
        <td>
          SR
          <input type="number" class="sample-rate-input"
            [(ngModel)]="settings.sampleRate"
            (change)="setSampleRate()"
            min=48000 max=9999999
            matTooltip="Sample rate">
          S/s
        </td>
        <td>
          Shift
          <input type="number" class="frequency-shift-input"
            [(ngModel)]="settings.frequencyShift"
            (change)="setFrequencyShift()"
            min=-9999999 max=9999999
            matTooltip="Frequency shift">
          Hz
        </td>
        <td>
          Amp
          <input type="number" class="frequency-shift-input"
            [(ngModel)]="settings.amplitudeBits"
            (change)="setAmplitudeBits()"
            min=0 [max]="getMaxAmplitudeBits()"
            matTooltip="Amplitude bits">
          b
        </td>
      </tr>
      <!-- Auto corr, Decim, Fp, Sample size -->
      <tr>
        <td>
          Auto
          <mat-select style="width:10ch; background-color: white; margin: 1px;"
              [(value)]="settings.autoCorrOptions"
              (selectionChange)="setAutoCorrOptions()"
              matTooltip="Auto correction options">
            <mat-option *ngFor="let autoCorrOptions of autoCorrOptionsList" [value]="autoCorrOptions.value">
              {{autoCorrOptions.viewValue}}
            </mat-option>
          </mat-select>
        </td>
        <td>
          Decim
          <mat-select style="width:6ch; background-color: white; margin: 1px;"
              [(value)]="settings.log2Decim"
              (selectionChange)="setLog2Decim()"
              matTooltip="Decimation factor">
            <mat-option *ngFor="let log2Decim of log2Decims" [value]="log2Decim.value">
              {{log2Decim.viewValue}}
            </mat-option>
          </mat-select>
        </td>
        <td>
          Fc pos
          <mat-select style="width:8ch; background-color: white; margin: 1px;"
              [(value)]="settings.fcPos"
              (selectionChange)="setFcPos()"
              matTooltip="Center frequency position">
            <mat-option *ngFor="let fcPos of fcPositions" [value]="fcPos.value">
              {{fcPos.viewValue}}
            </mat-option>
          </mat-select>
        </td>
        <td>
          Sample
          <mat-select style="width:8ch; background-color: white; margin: 1px;"
              [(value)]="settings.sampleSizeIndex"
              (selectionChange)="setSampleSize()"
              matTooltip="Sample size">
            <mat-option *ngFor="let sampleSize of sampleSizes" [value]="sampleSize.value">
              {{sampleSize.viewValue}}
            </mat-option>
          </mat-select>
          bits
        </td>
      </tr>
      <!-- modulation, tone frequency, AM %, FM deviation -->
      <tr>
        <td>
          Modulation
          <mat-select style="width:8ch; background-color: white; margin: 1px;"
              [(value)]="settings.modulation"
              (selectionChange)="setModulation()"
              matTooltip="Modulation">
            <mat-option *ngFor="let modulation of modulations" [value]="modulation.value">
              {{modulation.viewValue}}
            </mat-option>
          </mat-select>
        </td>
        <td>
          Tone
          <input type="number" class="tone-frequency-input"
            [(ngModel)]="toneFreqKhz"
            (change)="setToneFrequency()"
            min=0.01 max=9.99 step=0.01
            matTooltip="Tone frequency">
          kHz
        </td>
        <td>
          AM
          <input type="number" class="am-modulation-input"
            [(ngModel)]="settings.amModulation"
            (change)="setAMModulation()"
            min=0 max=100
            matTooltip="AM modulation depth">
          %
        </td>
        <td>
          FM
          <input type="number" class="fm-deviation-input"
            [(ngModel)]="fmDeviationKhz"
            (change)="setFMDeviation()"
            min=0 max=99.9 step=0.1
            matTooltip="FM deviation">
          kHz
        </td>
      </tr>
      <!-- DC bias, I bias, Q bias, Phase imbalance-->
      <tr>
        <td>
          DC bias
          <input type="number" class="bias-input"
            [(ngModel)]="dcBiasPercent"
            (change)="setDCBias()"
            min=-99 max=99
            matTooltip="DC bias">
          %
        </td>    
        <td>
          I bias
          <input type="number" class="bias-input"
            [(ngModel)]="iBiasPercent"
            (change)="setIBias()"
            min=-99 max=99
            matTooltip="I bias">
          %
        </td>    
        <td>
          Q bias
          <input type="number" class="bias-input"
            [(ngModel)]="qBiasPercent"
            (change)="setQBias()"
            min=-99 max=99
            matTooltip="Q bias">
          %
        </td>    
        <td>
          Phase
          <input type="number" class="bias-input"
            [(ngModel)]="phaseImbalancePercent"
            (change)="setPhaseImbalance()"
            min=-99 max=99
            matTooltip="Phase imbalance">
          %
        </td>    
      </tr>
      <tr style="height: 3px;">
      </tr>
    </table>
  </mat-card-content>
</mat-card>
<mat-card [ngClass]="{'status-ko-card': statusError, 'status-ok-card': !statusError}">
  {{ statusMessage }}
</mat-card>