.channel-label {
    margin-top: 5px;
    position: relative;
    top: 1px;
}

.color-picker {
    width: 20px;
    position: relative;
    margin-left: 8px;
    border: solid;
    border-width: 1px;
    border-color: lightgrey;
}

.title-input {
    width: 40ch;
    margin-left: 8px;
    border: solid;
    border-width: 1px;
    border-color: lightgrey;
    background-color: rgba(160, 160, 160, 0.2);
    font-size: 14px;
    padding-left: 5px;
    padding-top: 2px;
}