<mat-card [ngClass]="{'device-card':true, 'device-tx': device.tx !== 0, 'device-rx': device.tx === 0}">
  <mat-card-header class="device-card-header">
    <button mat-button class="button-card"  matTooltip="Device settings">
      <img src="/assets/icons/edit_icon.svg" style="height:16px; width:16px"/>
    </button>
    <button mat-button class="button-card button-margin"  matTooltip="Change device" (click)="openChangeDeviceDialog()">
      <img src="/assets/icons/double_arrow.svg" style="height:16px; width:16px"/>
    </button>
    <button mat-button class="button-card button-margin"  matTooltip="Start device" (click)="startDevice()">
      <img src="/assets/icons/play-outline.svg" style="height:14px; width:14px; padding-top: 2px"/>
    </button>
    <button mat-button class="button-card button-margin"  matTooltip="Stop device" (click)="stopDevice()">
      <img src="/assets/icons/stop-outline.svg" style="height:12px; width:12px; padding-top: 3px"/>
    </button>
    &nbsp;
    <i class="fa fa-circle" style="font-size:14px; padding-top: 4px" [ngStyle]="{'color': getRunStatusColor()}" [matTooltip]="status()"></i>
    &nbsp;
    <span class="label-card">{{device.hwType}}</span>
    &nbsp;
    <span *ngIf="hasSerial()" [ngClass]="{'serial':true, 'serial-tx': device.tx !== 0, 'serial-rx': device.tx === 0}">
      {{getSerial()}}
    </span>
  </mat-card-header>
  <mat-card-content>
    <span>{{device.centerFrequency/1000}} kHz {{device.bandwidth/1000}} kS/s</span>
  </mat-card-content>
</mat-card>
