.fill-bar {
    height: 10px;
    width: 40ch;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: rgb(33, 124, 30);
}

::ng-deep .mat-progress-bar-buffer {
    background: rgb(205, 205, 205);
}

::ng-deep .mat-progress-bar {
    border-radius: 5px;
}