<mat-card>
  <mat-card-header class="device-card-header device-header-rx">
    <button mat-button class="button-card" (click)="getDeviceSettings()" matTooltip="Refresh">
      <img src="/assets/icons/if_refresh.svg" style="height:16px; width:16px"/>
    </button>&nbsp;
    <span class="device-label">AirspyHF {{getSampleRate()/1000}} kS/s</span>
  </mat-card-header>
  <mat-card-content>
    <table>
      <tr>
        <td>
          LO
          <input type="number" class="frequency-input"
            [(ngModel)]="loPPM"
            (change)="setLoPPMTenths()"
            matTooltip="LO correction"
            step=0.1
          >
          ppm
        </td>
        <td>
          Band
          <mat-select style="width:10ch; background-color: white; margin: 1px;"
            [(value)]="settings.bandIndex"
            (selectionChange)="setBandIndex()"
            matTooltip="Frequency band"
          >
            <mat-option *ngFor="let band of bands" [value]="band.value">
              {{band.viewValue}}
            </mat-option>
          </mat-select>
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>
          Freq
          <input type="number" class="frequency-input" [(ngModel)]="centerFreqKhz" (change)="setCenterFrequency()" matTooltip="Center frequency">
          kHz
        </td>
        <td>
          SR
          <mat-select style="width:8ch; background-color: white; margin: 1px;"
            [(value)]="settings.devSampleRateIndex"
            (selectionChange)="setSampleRateIndex()"
            matTooltip="Sample rate"
          >
            <mat-option *ngFor="let sampleRate of sampleRates" [value]="sampleRate.value">
              {{sampleRate.viewValue}}
            </mat-option>
          </mat-select>
          kS/s
        </td>
        <td>
          Decim
          <mat-select style="width:6ch; background-color: white; margin: 1px;"
            [(value)]="settings.log2Decim"
            (selectionChange)="setLog2Decim()"
            matTooltip="Decimation factor"
          >
            <mat-option *ngFor="let log2Decim of log2Decims" [value]="log2Decim.value">
              {{log2Decim.viewValue}}
            </mat-option>
          </mat-select>
        </td>
      </tr>
      <tr>
        <td>
          <mat-checkbox color="primary" [(ngModel)]="transverter" (change)="setTransverterMode()" matTooltip="Transverter mode">
            Trans
          </mat-checkbox>
        </td>
        <td colspan="2">
          Freq:
          <input type="number" class="xfrequency-input"
            [(ngModel)]="settings.transverterDeltaFrequency"
            (change)="setTransverterFrequency()"
            matTooltip="Transverter frequency shift"
          >
          Hz
        </td>
      </tr>
      <tr>
        <td colspan="3">
          Remote record file
          <input type="text" class="record-file-input"
            [(ngModel)]="settings.fileRecordName"
            (change)="setFileRecordName()"
            matTooltip="Name of record file"
          >
        </td>
      </tr>
      <tr style="height: 3px;">
      </tr>
    </table>
  </mat-card-content>
</mat-card>
<mat-card [ngClass]="{'status-ko-card': statusError, 'status-ok-card': !statusError}">
  {{ statusMessage }}
</mat-card>