<h2 mat-dialog-title>{{title}}</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="dialog-content">
  <table>
    <tr>
      <td>
        <span class="label inner-label">Console level</span>
      </td>
    </tr>
    <tr>
      <td>
        <mat-select class="logging-level-input" [(value)]="logging.consoleLevel">
          <mat-option *ngFor="let logLevel of logLevels" [value]="logLevel.value">
            {{logLevel.viewValue}}
          </mat-option>
        </mat-select>        
      </td>
    </tr>
    <tr>
      <td>
        <mat-checkbox color="primary" [(ngModel)]="logToFile" (change)="setLogToFile()">Log to file</mat-checkbox>        
      </td>
    </tr>
  </table>
  <div *ngIf="logToFile">
    <table>
      <tr>
        <td>
          <span class="label inner-label">File level:</span><br/>
        </td>
      </tr>
      <tr>
        <td>
          <mat-select class="logging-level-input" [(value)]="logging.fileLevel">
            <mat-option *ngFor="let logLevel of logLevels" [value]="logLevel.value">
              {{logLevel.viewValue}}
            </mat-option>
          </mat-select><br/>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label inner-label">File name:</span><br/>
        </td>
      </tr>
      <tr>
        <td>
          <input type="text" [(ngModel)]="logging.fileName">
        </td>
      </tr>
    </table>
  </div>
  &nbsp;
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Cancel</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>
