<mat-card>
    <mat-card-header class="channel-card-header channel-header-tx">
      <button mat-button class="button-card" matTooltip="Refresh" (click)="getChannelSettings()">
        <img src="./assets/icons/if_refresh.svg" style="height:16px; width:16px"/>
      </button>&nbsp;
      <button mat-button mat-raised-button
          [ngClass]="{'button-card': true, 'button-on': monitor, 'button-off': !monitor}"
          matTooltip="Monitor on/off"
          (click)="toggleMonitor()">
        <img src="./assets/icons/eye-icon.svg" style="height:16px; width:16px; margin-top: 2px;"/>
      </button>&nbsp;
      <app-channel-header class="channel-header-comp" channelType="DaemonSource"
          [basebandRate]="deviceBasebandRate"
          [title]="settings.title"
          [color]="rgbTitleStr"
          (titleChanged)="onTitleChanged($event)"
          (colorChanged)="onTitleColorChanged($event)" >
      </app-channel-header>
    </mat-card-header>
    <mat-card-content>
      <!-- channel monitor (optional) -->
      <table *ngIf="monitor">
        <tr>
          <td>
            <span matTooltip="Stream center frequency setting">Freq {{report.centerFreq}} kHz</span>
          </td>
          <td>
            <span matTooltip="Stream nominal sample rate">SR {{report.sampleRate}} S/s</span>
          </td>
          <td>
            <span matTooltip="Nb total blocks/Nb FEC blocks per frame">FEC {{report.nbOriginalBlocks+report.nbFECBlocks}}/{{report.nbFECBlocks}}</span>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <mat-progress-bar mode="determinate" [value]="getQueuePercentage()" class="fill-bar" matTooltip="Queue fill ratio"></mat-progress-bar>
          </td>
          <td>
            <span matTooltip="Queue length/Queue size">{{report.queueLength}}/{{report.queueSize}} ({{((report.queueLength*100)/report.queueSize).toFixed(0)}}%)</span>
          </td>
        </tr>
        <tr>
          <td>
            <span matTooltip="Stream pumping rate and status">Pull SR {{getStreamSampleRate().toFixed(0)}} S/s </span>
            <i class="fa fa-circle" style="font-size:14px;" [ngStyle]="{'color': getStreamStatusColor()}" [matTooltip]="getStreamStatusText()"></i>
          </td>
          <td style="width: 15ch">
            <span matTooltip="Correctable errors (current/total)">Corr {{deltaCorrectableCount}}/{{report.correctableErrorsCount}}</span>
          </td>
          <td style="width: 15ch">
            <span matTooltip="Uncorrectable errors (current/total)">Uncorr {{deltaUncorrectableCount}}/{{report.uncorrectableErrorsCount}}</span>
          </td>
        </tr>
      </table>
      <table>
        <!-- address, port -->
        <tr>
          <td>
            Addr
            <input type="text" class="address-input"
              [(ngModel)]="settings.dataAddress"
              (change)="setDataAddress()"
              matTooltip="Local data listener address">
          </td>
          <td>
            Port
            <input type="number" class="port-input"
              [(ngModel)]="settings.dataPort"
              (change)="setDataPort()"
              matTooltip="Local data listener port"
              min=1024 max=65535>
          </td>
        </tr>
      </table>
      <!-- empty footer -->
      <table>
        <tr style="height: 3px;">
        </tr>
      </table>
    </mat-card-content>
</mat-card>
<mat-card [ngClass]="{'status-ko-card': statusError, 'status-ok-card': !statusError}">
  {{ statusMessage }}
</mat-card>
