<mat-card class="instance-summary-card">
  <button mat-button class="button-card" (click)="fetchInstanceSummary()" matTooltip="Refresh">
    <img src="/assets/icons/if_refresh.svg" style="height:16px; width:16px"/>
  </button>&nbsp;
  <span>{{instanceSummary.appname}}</span>&nbsp;
  <span>v{{instanceSummary.version}}</span>&nbsp;
  <span>Qt {{instanceSummary.qtVersion}}</span>&nbsp;
  <span>{{instanceSummary.architecture}}</span>&nbsp;
  <span>{{instanceSummary.os}}</span>&nbsp;
  <span>DSP Rx {{instanceSummary.dspRxBits}}b</span>&nbsp;
  <span>Tx {{instanceSummary.dspTxBits}}b</span>&nbsp;
  <span>PID {{instanceSummary.pid}}</span>
</mat-card>
<div *ngIf="instanceSummary.devicesetlist.devicesetcount !== 0">
  <app-deviceset *ngFor="let deviceSet of instanceSummary.devicesetlist.deviceSets" [deviceSet]="deviceSet"></app-deviceset>
</div>
<mat-card [ngClass]="{'status-ko-card': statusError, 'status-ok-card': !statusError}">
  {{ statusMessage }}
</mat-card>