<h2 mat-dialog-title>{{audioDevice.name}}</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="dialog-content">
  <table>
    <tr>
      <td>
        <span class="label">Sample rate (Hz)</span><br/>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <input class="sample-rate-input" type="number" [(ngModel)]="audioDevice.sampleRate"><br/>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <span class="label inner-label">UDP IPv4 address</span><br/>
      </td>
      <td>
        <span class="label inner-label">UDP port</span><br/>
      </td>
    </tr>
    <tr>
      <td>
        <input class="udp-address-input" type="text" [(ngModel)]="audioDevice.udpAddress"><br/>
      </td>
      <td>
        <input class="udp-port-input" type="number" [(ngModel)]="audioDevice.udpPort"><br/>
      </td>
    </tr>
    <tr>
      <td>
        <span class="label">Channel mode</span><br/>
      </td>
      <td>
        <span class="label">Channel codec</span><br/>
      </td>
    </tr>
    <tr>
      <td>
        <mat-select class="channel-mode-input" [(value)]="audioDevice.udpChannelMode">
          <mat-option *ngFor="let channelMode of channelModes" [value]="channelMode.value">
            {{channelMode.viewValue}}
          </mat-option>
        </mat-select>
      </td>
      <td>
        <mat-select class="channel-mode-input" [(value)]="audioDevice.udpChannelCodec">
          <mat-option *ngFor="let channelCodec of channelCodecs" [value]="channelCodec.value">
            {{channelCodec.viewValue}}
          </mat-option>
        </mat-select>
      </td>
    </tr>
    <tr>
      <td>
        <span class="label">Channel decim.</span><br/>
      </td>
      <td>
        <span class="label">SDP string</span><br/>
      </td>
    </tr>
    <tr>
      <td>
        <input type="number" class="channel-mode-input"
          [(ngModel)]="audioDevice.udpDecimationFactor"
          matTooltip="Decimation"
          min=1 max=6 step=1
        >
      </td>
      <td>
        <span class="sdp-label">{{getSDPString()}}</span>
      </td>
    </tr>
    <tr>
      <td>
        <mat-checkbox class="inner-label" color="primary" [(ngModel)]="copyToUDP" (change)="setCopyToUDP()">Copy to UDP</mat-checkbox>
      </td>
      <td>
        <mat-checkbox class="inner-label" color="primary" [(ngModel)]="udpUsesRTP" (change)="setUDPUsesRTP()">Use RTP</mat-checkbox>
      </td>
    </tr>
  </table>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Cancel</button>
  <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>
