<mat-card class="channel-card">
  <mat-card-header class="channel-card-header">
    <button mat-button class="button-card"  matTooltip="Channel settings">
        <img src="/assets/icons/edit_icon.svg" style="height:16px; width:16px"/>
    </button>  
    <button mat-button class="button-card"  matTooltip="Remove channel">
        <img src="/assets/icons/delete_icon.svg" style="height:16px; width:16px"/>
    </button>  
    &nbsp;
    <span>{{channel.id}} {{channel.title}}</span><br/>
  </mat-card-header>
  <mat-card-content>
    <span>&#x394;f {{channel.deltaFrequency}} Hz</span><br/>
  </mat-card-content>
</mat-card>
