<mat-card class="deviceset-card">
  <mat-card-header class="device-card-header device-header-tx">
    <button mat-button class="button-card" (click)="getDeviceSettings()" matTooltip="Refresh">
      <img src="/assets/icons/if_refresh.svg" style="height:16px; width:16px"/>
    </button>&nbsp;
    <button mat-button mat-raised-button
        [ngClass]="{'button-card': true, 'button-on': monitor, 'button-off': !monitor}"
        matTooltip="Monitor on/off"
        (click)="toggleMonitor()">
      <img src="/assets/icons/eye-icon.svg" style="height:16px; width:16px; margin-top: 2px;"/>
    </button>&nbsp;
    <span class="device-label">LimeSDR output {{getSampleRate()/1000}} kS/s DAC {{getDACSampleRate()/1000}} kS/s</span>
  </mat-card-header>
  <mat-card-content>
    <table>
      <!-- center frequency -->
      <tr>
        <td colspan="2">
          <app-frequency-dial
          [frequency]="centerFreqKhz"
          min=30000
          max=3800000
          tooltip="Center (LO) frequency"
          [steps]="frequencySteps"
          (frequencyChanged)="onFrequencyUpdate($event)">
          </app-frequency-dial>
        </td>
        <td>
          Ant
          <mat-select style="width:8ch; background-color: white; margin: 1px;"
              [(value)]="settings.antennaPath"
              (selectionChange)="setAntennaPath()"
              matTooltip="Antenna path">
            <mat-option *ngFor="let antennaPath of antennaPaths" [value]="antennaPath.value">
              {{antennaPath.viewValue}}
            </mat-option>
          </mat-select>
        </td>
      </tr>
      <!-- NCO enable, NCO frequency, Antenna select -->
      <tr>
        <td>
          <mat-checkbox color="primary" [(ngModel)]="ncoEnable" (change)="setNCOEnable()" matTooltip="NCO enable">
            NCO
          </mat-checkbox>
        </td>
        <td style="width:16ch">
          Freq
          <input type="number" class="nco-frequency-input"
            [(ngModel)]="ncoFreqKhz"
            (change)="setNCOFrequency()"
            matTooltip="NCO frequency">
          kHz
        </td>
        <td>
          <span>LO {{loFreqKhz}} kHz</span>
        </td>
      </tr>
      <!-- SR, Hard interpolation, Soft interpolation -->
      <tr>
        <td>
          SR
          <input type="number" class="sample-rate-input"
            [(ngModel)]="settings.devSampleRate"
            (change)="setDevSampleRate()"
            matTooltip="Device to host sample rate"
            min=100000,
            max=80000000>
          S/s
        </td>
        <td>
          Hard &#x21D1;
          <mat-select style="width:8ch; background-color: white; margin: 1px;"
              [(value)]="settings.log2HardInterp"
              (selectionChange)="setLog2HardInterp()"
              matTooltip="Hardware interpolation factor">
            <mat-option *ngFor="let hardInterp of hardInterps" [value]="hardInterp.value">
              {{hardInterp.viewValue}}
            </mat-option>
          </mat-select>
        </td>
        <td>
          Soft &#x21D1;
          <mat-select style="width:8ch; background-color: white; margin: 1px;"
              [(value)]="settings.log2SoftInterp"
              (selectionChange)="setLog2SoftInterp()"
              matTooltip="Software interpolation factor">
            <mat-option *ngFor="let softInterp of softInterps" [value]="softInterp.value">
              {{softInterp.viewValue}}
            </mat-option>
          </mat-select>
        </td>
      </tr>
      <!-- Low pass, FIR enable, Low pass FIR -->
      <tr>
        <td>
          LP
          <input type="number" class="lp-filter-input"
            [(ngModel)]="lpfBWkHz"
            (change)="setLPFilter()"
            matTooltip="Analog low pass filter bandwidth"
            min=5001,
            max=130000>
          kHz
        </td>
        <td>
          <mat-checkbox color="primary" [(ngModel)]="lpfFIREnable" (change)="setLPFIREnable()" matTooltip="Enable lowpass FIR filter">
            FIR
          </mat-checkbox>
        </td>
        <td style="width:20ch">
          LP FIR
          <input type="number" class="lp-filter-input"
            [(ngModel)]="lpfFIRBWkHz"
            (change)="setLPFIRFilter()"
            matTooltip="FIR low pass filter bandwidth"
            min=1,
            max=56000>
          kHz
        </td>
      </tr>
      <!-- Gain, Transverter, Transverter frequency-->
      <tr>
        <td>
          Gain
          <input type="number" class="log2-input"
            [(ngModel)]="settings.gain"
            (change)="setGain()"
            matTooltip="Gain"
            min=0,
            max=70>
          dB
        </td>
        <td>
          <mat-checkbox color="primary" [(ngModel)]="transverter" (change)="setTransverterMode()" matTooltip="Transverter mode">
            Transverter
          </mat-checkbox>
        </td>
        <td>
          Freq
          <input type="number" class="xfrequency-input"
            [(ngModel)]="settings.transverterDeltaFrequency"
            (change)="setTransverterFrequency()"
            matTooltip="Transverter frequency shift">
          Hz
        </td>
      </tr>
      <tr style="height: 3px;">
      </tr>
    </table>
    <table *ngIf="monitor">
      <tr>
        <td style="width: 15ch" [class.green]="report ? report.success !== 0 : false">
          <span matTooltip="Device is streaming">Streaming</span>
        </td>
        <td style="width: 15ch" [class.red]="report ? report.droppedPacketsCount !== 0 : false">
          <span matTooltip="Number of dropped packets">Dropped {{report ? report.droppedPacketsCount : 0}}</span>
        </td>
        <td style="width: 15ch" [class.red]="report ? report.overrunCount !== 0 : false">
          <span matTooltip="Number of buffer overruns">Overrun {{report ? report.overrunCount : 0}}</span>
        </td>
        <td style="width: 15ch" [class.red]="report ? report.underrunCount !== 0 : false">
          <span matTooltip="Number of buffer underruns">Underrun {{report ? report.underrunCount : 0}}</span>
        </td>
      </tr>
      <tr>
        <td>
          Link
          <span matTooltip="Link streaming rate">{{report ? (report.linkRate/1000000).toFixed(3) : 0}}</span>
          MB/s
        </td>
        <td>
          FIFO
          <span matTooltip="FIFO size">{{report ? (report.fifoSize/1000000).toFixed(3) : 0}}</span>
          MB
        </td>
        <td [class.yellow]="getFIFOFillPercentage() < 50">
          Fill
          <span matTooltip="Percentage of FIFO filled">{{getFIFOFillPercentage().toFixed(0)}}</span>
          %
        </td>
        <td>
          Temp
          <span matTooltip="Board temperature">{{report ? report.temperature.toFixed(1) : 0}}</span>
          C
        </td>
      </tr>
      <tr style="height: 3px;">
      </tr>
    </table>
  </mat-card-content>
</mat-card>