.dialog-content {
    overflow: initial;
}

.presets-input {
    width: 35ch;
    margin-top: 10px;
    margin-bottom: 10px;
}

::ng-deep .mat-checkbox-label {
    /* CSS styles go here */
    font-size: 14px; /* for example to remove the margin */
}

::ng-deep .mat-divider {
    /* CSS styles go here */
    margin: 5px; /* for example to remove the margin */
}

::ng-deep .mat-dialog-title {
    /* CSS styles go here */
    margin: 0px; /* for example to remove the margin */
}
