<mat-card class="preset-card">
  <mat-card-header class="preset-card-header">
    <button mat-button class="button-card"  matTooltip="Export preset to file" (click)="openExportPresetDialog()">
        <img src="/assets/icons/save_icon.svg" style="height:16px; width:16px"/>
    </button>
    <button mat-button class="button-card button-margin"  matTooltip="Remove preset" (click)="openRemovePresetDialog()">
      <img src="/assets/icons/delete_icon.svg" style="height:16px; width:16px"/>
    </button>
  &nbsp;
    <span class="label-card">{{preset.name}}</span><br/>
  </mat-card-header>
  <mat-card-content>
    <span>{{preset.type}} {{(preset.centerFrequency/1000)}} kHz</span><br/>
  </mat-card-content>
</mat-card>
