.preset-card {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: white;
    border: outset;
    border-color: whitesmoke;
    border-width: 2px;
    margin-bottom: 5px;
    padding: 0.2em 0.2em 0.2em 0.2em;
}

.preset-card-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: solid;
    border-color: gray;
    border-width: 1px;
    margin-bottom: 5px;
    padding: 0.2em 0.2em 0.2em 0.2em;
}

.button-card {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 22px;
    height: 22px;
}

.button-margin {
    margin-left: 1px;
}

.label-card {
    margin-top: 5px;
}