<mat-card class="audio-out-card">
  <mat-card-header class="audio-out-card-header">
    <button mat-button class="button-card" (click)="fetchAudioInformation()" matTooltip="Refresh">
      <img src="/assets/icons/if_refresh.svg" style="height:16px; width:16px"/>
    </button>&nbsp;
    <span class="audio-out-title">Audio output devices</span>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="audioDevicesInfo.nbOutputDevices !== 0">
      <app-audio-out-device *ngFor="let device of audioDevicesInfo.outputDevices"  [audioDevice]="device"></app-audio-out-device>
    </div>
  </mat-card-content>
</mat-card>
<mat-card [ngClass]="{'status-ko-card': statusError, 'status-ok-card': !statusError}">
  {{ statusMessage }}
</mat-card>