<div style="width: 10ch; height: 1.2em; margin-top: 6px;">
  <mat-progress-bar mode="determinate" [value]="getValuePercentage()" class="power-bar" matTooltip="Channel power"></mat-progress-bar>
  <div style="position:relative; top: -1em; left: 41ch;">
    {{value.toFixed(1)}} dB
  </div>
  <div style="position:relative; top: -2.1em; left: 50ch;">
    <i class="fa fa-circle" style="font-size:14px;" [ngStyle]="{'color': getSquelchStatusColor()}" [matTooltip]="getSquelchStatusText()"></i>
  </div>
</div>
