<mat-card class="deviceset-card">
  <mat-card-header class="deviceset-card-header">
    <span class="label-card">{{getLabel()}}</span>
    &nbsp;
    <button mat-button class="button-card"  matTooltip="Add channel">
      <img src="/assets/icons/add_circle.svg" style="height:16px; width:16px"/>
    </button>  
    &nbsp;
    <button mat-button class="button-card"  matTooltip="Load from preset">
      <img src="/assets/icons/open_icon.svg" style="height:16px; width:16px"/>
    </button>  
    <button mat-button class="button-card button-margin"  matTooltip="Save to preset">
        <img src="/assets/icons/save_icon.svg" style="height:16px; width:16px"/>
    </button>  
  </mat-card-header>
  <mat-card-content>
    <app-device [device]="deviceSet.samplingDevice"></app-device>
    <div *ngIf="deviceSet.channelcount !== 0">
      <app-channel *ngFor="let channel of deviceSet.channels" [channel]="channel" [centerFrequency]="getCenterFrequency()"></app-channel>
    </div>
  </mat-card-content>
</mat-card>
