<mat-card>
  <mat-card-header class="channel-card-header channel-header-rx">
      <button mat-button class="button-card" matTooltip="Refresh" (click)="getChannelSettings()">
        <img src="/assets/icons/if_refresh.svg" style="height:16px; width:16px"/>
      </button>&nbsp;
      <button mat-button mat-raised-button
          [ngClass]="{'button-card': true, 'button-on': monitor, 'button-off': !monitor}"
          matTooltip="Monitor on/off"
          (click)="toggleMonitor()">
        <img src="/assets/icons/eye-icon.svg" style="height:16px; width:16px; margin-top: 2px;"/>
      </button>&nbsp;
      <app-channel-header class="channel-header-comp" channelType="SSBDemod"
          [basebandRate]="deviceBasebandRate"
          [title]="settings.title"
          [color]="rgbTitleStr"
          (titleChanged)="onTitleChanged($event)"
          (colorChanged)="onTitleColorChanged($event)" >
      </app-channel-header>
    </mat-card-header>
    <mat-card-content>
      <table>
        <!-- Row 1: channel monitor (optional) -->
        <tr *ngIf="monitor">
          <td colspan="4">
            <app-channel-monitor [value]=this.ssbDemodreport.channelPowerDB
              [min]="-120"
              [max]="0"
              [squelch]="this.ssbDemodreport.squelch !== 0">
            </app-channel-monitor>
          </td>
        </tr>
        <!-- Row 2: Frequency dial -->
        <tr>
          <td colspan="3">
            <app-frequency-dial
            [frequency]="channelCenterFrequencyKhz"
            [min]="channelMinFrequencyKhz"
            [max]="channelMaxFrequencyKhz"
            (frequencyChanged)="onFrequencyUpdate($event)">
            </app-frequency-dial>
          </td>
          <td style="width:15ch">
              &#x394;f {{getDeltaFrequency()}} kHz
          </td>
        </tr>
        <!-- Row 3: volume, span, rf bandwidth, low cutoff -->
        <tr>
          <td>
             Vol
             <input type="number" class="volume-input"
              [(ngModel)]="settings.volume"
              (change)="setVolume()"
              matTooltip="Audio volume"
              min=0 max=10
              step="0.1">
          </td>
          <td>
            &#xf7;
            <mat-select style="width:6ch; background-color: white; margin: 1px;"
                [(value)]="settings.spanLog2"
                (selectionChange)="setSpan()"
                matTooltip="Channel decimation">
              <mat-option *ngFor="let spanLog2 of spanLog2s" [value]="spanLog2.value">
                {{spanLog2.viewValue}}
              </mat-option>
            </mat-select>
            <span matTooltip="Channel bandwidth">
              {{getChannelBaseband()}} kHz
            </span>
          </td>
          <td>
            Hi
            <input type="number" class="volume-input"
              [(ngModel)]="hiCutKhz"
              (change)="setHiCut()"
              matTooltip="Bandpass far end"
              min=minHiCutKhz max=maxHiCutKhz
              step="0.1">
            kHz
          </td>
          <td>
            Low
            <input type="number" class="volume-input"
              [(ngModel)]="loCutKhz"
              (change)="setLoCut()"
              matTooltip="Bandpass close end"
              min=minLoCutKhz max=maxLoCutKhz
              step="0.1">
            kHz
          </td>
        </tr>
        <!-- Row 4: agc, threshold, time constant, gate  -->
        <tr>
          <td>
            <mat-checkbox color="primary" [(ngModel)]="agc" (change)="setAGC()" matTooltip="AGC on/off">
              AGC
            </mat-checkbox>
          </td>
          <td>
              Squelch
              <input type="number" class="volume-input"
                [(ngModel)]="settings.agcPowerThreshold"
                (change)="setAGCThreshold()"
                matTooltip="AGC squelch power threshold"
                min=-120 max=0>
              dB
          </td>
          <td>
              Time
              <mat-select style="width:8ch; background-color: white; margin: 1px;"
                  [(value)]="settings.agcTimeLog2"
                  (selectionChange)="setAGCTime()"
                  matTooltip="AGC time constant">
                <mat-option *ngFor="let agcTimeLog2 of agcTimeLog2s" [value]="agcTimeLog2.value">
                  {{agcTimeLog2.viewValue}}
                </mat-option>
              </mat-select>
              ms
          </td>
          <td>
            Gate
            <input type="number" class="volume-input"
              [(ngModel)]="settings.agcThresholdGate"
              (change)="setAGCThresholdGate()"
              matTooltip="AGC threshold gate"
              min=0 max=20>
            ms
          </td>
        </tr>
        <!-- Row 5: agc clamp, dsb, binaural, flip channels  -->
        <tr>
          <td>
            <mat-checkbox color="primary" [(ngModel)]="agcClamping" (change)="setAGCClamping()" matTooltip="AGC clamping on/off">
              Clamping
            </mat-checkbox>
          </td>
          <td>
            <mat-checkbox color="primary" [(ngModel)]="dsb" (change)="setDSB()" matTooltip="DSB on/off">
              DSB
            </mat-checkbox>
          </td>
          <td>
            <mat-checkbox color="primary" [(ngModel)]="binaural" (change)="setBinaural()" matTooltip="Audio binaural on/off">
              Binaural
            </mat-checkbox>
          </td>
          <td>
            <mat-checkbox color="primary" [(ngModel)]="lrFlip" (change)="setFlipAudioChannels()" matTooltip="Audio flip L/R">
              LR flip
            </mat-checkbox>
          </td>
        </tr>
        <!-- Row 6: audio options -->
        <tr>
          <td colspan="3">
            Audio:
            <mat-select style="width:40ch; background-color: white; margin: 1px;"
                [(value)]="settings.audioDeviceName"
                (selectionChange)="setAudioDevice()"
                matTooltip="Audio output device and sample rate (Hz)">
              <mat-option *ngFor="let audioDevice of audioDevices" [value]="audioDevice.value">
                {{audioDevice.value}}
              </mat-option>
            </mat-select>
          </td>
          <td>
            <mat-checkbox color="primary" [(ngModel)]="audioMute" (change)="setAudioMute()" matTooltip="Audio mute">
              Mute
            </mat-checkbox>
          </td>
        </tr>
        <!-- Row 7: empty footer -->
        <tr style="height: 3px;">
        </tr>
      </table>
    </mat-card-content>
</mat-card>
<mat-card [ngClass]="{'status-ko-card': statusError, 'status-ok-card': !statusError}">
  {{ statusMessage }}
</mat-card>